<turbo-frame id="message_<%= message.id %>">
  <div data-controller="scroll-into-view">
    <% if message.role == "assistant" %>
      <%= render "messages/assistant_message", message: message %>
    <% elsif message.role == "user" %>
      <%= render "messages/user_message", message: message %>
    <% end %>
  </div>
</turbo-frame>